@model List<CursoMVC.Models.ViewModel.ListarUserViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Lista de usuarios</h2>

<div class="row">
    <div class="col-md-12">
        <input type="button" class="btn-danger" onclick="document.location.href='@Url.Content("~/user/add")'" value="Agregar"/>
    </div>
</div>
<br/>
<hr/>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered">
            <tr>
                <th>#</th>
                <th>Email</th>
                <th>Edad</th>
                <th></th>
            </tr>
            @foreach (var oElemento in Model)
            {
            <tr>
                <td>@oElemento.Id</td>
                <td>@oElemento.Email</td>
                <td>@oElemento.Edad</td>
                <td>
                    <input onclick="jsDelete(@oElemento.Id);" type="button" class="btn-danger" value="Eliminar" />
                    <input onclick="document.location.href='@Url.Content("~/user/Edit/"+oElemento.Id)'" type="button" class="btn-default" value="Editar" />
                </td>
            </tr>
            }
        </table>
    </div>

</div>
<script>
    function jsDelete(id) {
        if (confirm("Estas seguro???")) {
            url = @Url.Content("~/user/delete/")+id;

            $.post(url, function (data) {
                if (data == "1") {
                    document.location.href="@Url.Content("~/user/")"
                } else {
                    alert("Ha ocurrido un error");
                }
            })
        }
    }

</script>